input{
    height: 200px;
    width: 499px;
}

#divMonths{
    display: inline-flex;
}

body{
    font-family: roboto;
    font-weight: 400;
}

.hiddenTransition{
    transition: all 0.5s;
}

div * {
    cursor: pointer;
}

li{
    white-space: nowrap;
}

.divMonth{
    padding: 10px;
    max-width: 340px;
    cursor: pointer;
    background-color: transparent;
}

.divMonthHidden{
    max-width: 33px;
}

div:nth-child(odd){
    background-color: #dddddd;
}

div:nth-child(even){
    background-color: #e9e9e9;
}

.hMonth{
    font-family: roboto;
    font-weight: 300;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0.3rem;
    transform-origin: 10px 10px;
}

.hMonthHidden{
    transform: rotate(90deg);
    width: 100px;
}

ul{
    margin: 0px;
    list-style: none;
}

.timeTable{
    transform-origin: 0%;
    list-style: none;
}

tr:not(:first-child)
{
    background: #cccccc;
}

.date{
    text-decoration: underline;
}

.lblMissingPercent{
    /*white-space: nowrap;*/
    transform: rotate(90deg);
}

.timeTableHidden{
    transform: scaleX(0.1);
    opacity: 0;
}

#presentTimeList{
    list-style-position: outside;
    padding-left: 13px;
}

#presentTimeList li{
    text-align: left;
}

.missingTime{
    width: 60px;
    text-align: center;
}

td:not(:first-child){
    text-align: center;
}

tr:last-child td:first-child { 
    text-align: center;
}