body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;

    --animDurationGameOver: 3s;
    --animDurationNewPiece: 0.5s;
    
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

#btnReset{
    cursor: pointer;
}

.row{
    min-width: 2600px;
    position: relative;
    top: -30.9vmin;
    left: -30.9vmin;
}

table{
    /*margin: 40px auto auto;*/
	/*border: .3vmin solid #66ff66;*/
    border-collapse: collapse;
    /*transition: all var(--animDurationGameOver);*/
    transition-delay: calc( var(--animDurationNewPiece)  + .5s);
    display: inline-block;
    float:left;
}

table:nth-child(1){
    clear: both;
}

/*table:nth-child(1)
{
    position: absolute;
    right: -100px;
}'/

.blurred{
    filter:blur(5px);
}

.scaleDiv{
    position: absolute;
    overflow: hidden;
}

.overlay{
    text-align: center;
    font-size: 6vmin;
    font-weight: 700;
    width: 50%;
    margin: auto;

    /*transform: scale(1.8);*/
    /*opacity: 0;
    transition: transform, opacity;
    transition-duration: var(--animDurationGameOver); 
    transition-delay: calc( var(--animDurationNewPiece)  + .5s);
}*/

.transitionTimes{
    
}

#gameOver{
    position: absolute;
}

#tutorial{
    position: relative;
    width: 60%;
    transition-delay: 0s;
}

.big{
    transform: scale(1.8)
}

.visible{
    opacity: 1;
    /*visibility: visible;*/
}

.slot {
    border: .3vmin solid #666666;
    background-color: #FF874C;
    border-radius: 1vmin;
    box-shadow: inset 0 0 10px #000;
    width: 15vmin;
    height: 15vmin;
    /*width: 8vmin; 
    height: 8vmin;*/
    
    max-width: 150px;
    max-height: 150px;
    
    margin-right: -2px;
    margin-bottom: -2px;
}

.piece {
    position: relative;
    left: 0vmin;
    top:0vmin;
    margin: 10%;
    text-align: center;
    background-color: #00ff00;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    width: 80%;
    height: 80%;
    border-radius: 10%;
    /*font-size: 8vmin;*/
    /*line-height: 12vmin;*/
    font-size: 4vmin;
    line-height: 5vmin;
    text-align: center;
    
    transition: left ease-in-out, top ease-in-out;
    transform: translateZ(0);
    transition-duration: 1s;
}

.animMerge {
    animation: merge 0.5s;
}

@keyframes merge {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }
}

.piece b{
    vertical-align:middle;
}

.newPieceAnim {
    animation: grow var(--animDurationNewPiece);
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.animDelete{
    animation: delete 0.5s;
}

@keyframes delete {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

#infoAndDebug{
    display: flex;
    justify-content: space-between;
    width: 80vmin;
    margin: 2em auto 0 auto;
}

.switchDiv{
    display: inline;
    top:0px;
    float: right;
}

/* checkbox */
.switch {
  position: relative;
  display: inline-block;
  width: 8vmin;
  height: 4vmin;
}

.switchDiv > span{
    vertical-align:20%; 
    font-size: 3vmin;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 70%;
  width: 35%;
  left: 1.2vmin;
  bottom: 0.5vmin;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /*background-color: #2196F3;*/
    background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(3vmin);
}

/* BG */
.slider.round {
  border-radius: 3vmin;
}
/* slider */
.slider.round:before {
  border-radius: 50%;
}