<h1>statsMain</h1>

<div class="sitewrapper">
  <button id="btnUpdateDB">Update Database</button>
  <div class="flexContainer">
    <div class="card">
      <h3>Winrate</h3>
      <select id="ddChampion" (change) = "OnChampionSelected(SelectedChampion.value)" #SelectedChampion>
        <option *ngFor="let champion of (AllPlayedChampions|async)" [value] ="champion.id">{{champion.name}}</option>
      </select>
      <div class="error" *ngIf="(AllPlayedChampionsError)">{{AllPlayedChampionsError.message}}</div>

      <h4>Last two weeks</h4>
      <label>Winrate:</label>
      <label id="lblWinRate2Weeks">--%</label> <br />
      <label>GamesPlayed:</label>
      <label id="lblGamesPlayed2Weeks">--</label><br />
      <label>avg. Gametime:</label>
      <label id="lblAvgGameTime2Weeks">--:--</label>

      <h4>Last three months</h4>
      <label>Winrate:</label>
      <label id="lblWinRate3Months" *ngIf="(WinrateByChampID|async)">{{(WinrateByChampID|async)?.WinRate3Months}}</label> <br />
      <label>GamesPlayed:</label>
      <label id="lblGamesPlayed3Months">--</label><br />
      <label>avg. Gametime:</label>
      <label id="lblAvgGameTime3Months">--:--</label>

      <h4>Overall</h4>
      <label>Winrate:</label>
      <label id="lblWinRate">--%</label> <br />
      <label>GamesPlayed:</label>
      <label id="lblGamesPlayed">--</label><br />
      <label>avg. Gametime:</label>
      <label id="lblAvgGameTime">--:--</label>

    </div>
    <div class="card"></div>
    <div class="card"></div>
  </div>

</div>
