body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;

    overflow-x: hidden;
    
    
}

* {
    margin: 0;
    padding: 0;
}

#circle1 {
    background-color: hsla(120, 100%, 50%, 0);
    /*position: absolute;*/
    width: 50vmin;
    height: 50vmin;
    top: 100px;
    left: 250px;
    border: 1vmin solid black;
    text-align: center;
    border-radius: 26vmin;
}


/*///////////////////////////////////*/


.circle{ border-radius: 50%; }
nav {
	margin: 5em auto;
	min-width: 16em;
    width: 72%;
    max-width: 40em;
}
nav ul {
	position: relative;
	padding: 50%;
	list-style: none;
	background: white;
}
nav li {
	position: absolute;
}
.slice {
	overflow: hidden;
	position: absolute;
	top: 0; 
    left: 0;
	width: 50%; 
    height: 50%;
	transform-origin: 100% 100%;
}
.center {
	top: 34%; 
    left: 34%;
	width: 32%; 
    height: 32%;
	background: paleturquoise;
}
.coconut { transform: skewX(50deg); }
.vanilla { transform: rotate(40deg) skewX(50deg); }
.orange { transform: rotate(80deg) skewX(50deg); }
.almond { transform: rotate(120deg) skewX(50deg); }
.grape { transform: rotate(160deg) skewX(50deg); }
.blackberry { transform: rotate(-160deg) skewX(50deg); }
.cherry { transform: rotate(-120deg) skewX(50deg); }
.strawberry { transform: rotate(-80deg) skewX(50deg); }
.raspberry { transform: rotate(-40deg) skewX(50deg); }

.slice label {
	display: block;
	width: 200%; 
    height: 200%;
	transform: skew(-50deg) rotate(-70deg);
	box-shadow: 0 0 .1em black;
	opacity: .5;
	color: blueviolet;

}
.slice label:before {
	position: absolute;
	top: 10%;
    left: 10%;
	width: 80%;
    height: 80%;
	border-radius: 50%;
	box-shadow: 0 0 1em rgba(0,0,0,.5);
	content: '';
}


.coconut label{ background: #f4f5fa; }
.vanilla label{ background: #ffeb98; }
.orange label{ background: #ffb038; }
.almond label{ background: #d3a573; }
.grape label{ background: #d9e260; }
.blackberry label{ background: #833a68; }
.cherry label{ background: #b1001d; }
.strawberry label{ background: #ec0404; }
.raspberry label{ background: #ef6982; }


/*/////////////////////////////////////*/


#holder 
{
    height: 600px;
    width: 600px;
}
#time {
    text-align: center;
    font: 100 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
}