body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:black;
    
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;

    overflow-x: hidden;
    
    
}

* {
    margin: 0;
    padding: 0;
}

#circle1 {
    background-color: hsla(120, 100%, 50%, 0);
    /*position: absolute;*/
    width: 50vmin;
    height: 50vmin;
    top: 100px;
    left: 250px;
    border: 1vmin solid black;
    text-align: center;
    border-radius: 26vmin;
}


/*///////////////////////////////////*/




/*/////////////////////////////////////*/


#holder 
{
    height: 700px;
    width: 700px;
}
#time {
    text-align: center;
    font: 100 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
}