body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:black;
    
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;

    /*overflow: hidden;*/

    
}

* {
    margin: 0;
    padding: 0;
}

#outer{
    perspective: 800px;
    white-space: nowrap;
}

svg{
    position: absolute;
}

.overlapping{
    position: absolute;
}
