body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:black;
    
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px; 
}

* {
    margin: 0;
    padding: 0;
}

div{
    /*border: 1px solid white;*/
}

.stage{
    perspective: 1600px;
   
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
}

#container{
   transform-style: preserve-3d; 
   /*transform: rotateX(25deg) rotateY(10deg);*/
   white-space: nowrap;
   width: 670px;
   height: 670px;
}

svg{
    position: absolute;
}

#ring1{
    /*transform: translateZ(150px);*/
}

.overlapping{
    position: absolute;
}
