body {
    margin: 0;
    padding: 0;
    color: #000;
    overflow: hidden;
}


.fullscreenBG {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;
    background: #000;
}

#fullscreenBGVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    filter:blur(5px);
}

.playlist {
	display: none;
}

@media (min-aspect-ratio: 16/9) {
    #fullscreenBGVideo {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #fullscreenBGVideo {
        width: 120%;
        height: 120%;
        left: -10%;
        top: -10%;
        transform: scale(1.2)
    }
}

#curtain{
    position: absolute;
    width: 120%;
    height: 300%;
    background: #000;
    opacity: 1;
    transform: rotate(-45deg);
    top:-40%;
    left:-55%;
    transform-origin: 50% top;
}
/* to height 300% (fade in) */
/* TweenMax.to($('#curtain'),4,{height:"10%", top:"200%", left:"80%"}); */
/* set height: 10% top: -40% left: -55%