body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

* {
    margin: 0;
    padding: 0;
}

table{
    margin: 50px auto auto;
	border-collapse: collapse;
    /*filter:blur(3px);*/
    transition: all 3s;
}

.blurred{
    filter:blur(5px);
}

#gameOver{
    text-align: center;
}

.slot {
    border: .5vmin solid #666666;
    background-color: #FF874C;
    border-radius: 2vmin;
    box-shadow: inset 0 0 10px #000;
    width: 20vmin; 
    height: 20vmin;
    margin-right: -2px;
    margin-bottom: -2px;
}

.piece {
    /*display: block;*/
    position: relative;
    left: 0vmin;
    top:0vmin;
    margin: 10%;
    text-align: center;
    background-color: #00ff00;
    border: .3vmin solid #666666;
    width: calc(80% - 0.6vmin);
    height: calc(80% - 0.6vmin);
    border-radius: 10%;
    font-size: 8vmin;
    line-height: 12vmin;
    text-align: center;
    
    transition: left ease-in-out, top ease-in-out;

    transition-duration: 1s;
}

.animMerge {
    animation: merge 0.5s;
}

@keyframes merge {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }
}

.moving{
    background-color: blueviolet;
}

.piece b{
    vertical-align:middle;
}

.newPieceAnim {
    animation: grow 0.5s;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.markedForMerge {background-color: aqua;}

#btnReset {
    margin-top: 0vmin;
    margin-right: 10vmin
}

#infoAndDebug{
    display: flex;
    justify-content: space-between;
    width: 80vmin;
    margin: 0 auto;
}

#scoreDiv{
    display: inline;
    font-size: 4vmin;
}

#switchDiv{
     display: inline;
    top:0px;
    float: right;
}

/* checkbox */
.switch {
  position: relative;
  display: inline-block;
  width: 8vmin;
  height: 4vmin;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 70%;
  width: 35%;
  left: 1.2vmin;
  bottom: 0.5vmin;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /*background-color: #2196F3;*/
    background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(3vmin);
}

/* BG */
.slider.round {
  border-radius: 3vmin;
}
/* slider */
.slider.round:before {
  border-radius: 50%;
}