* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

* {
    margin: 0;
    padding: 0;
}

#table {
    display: table;
    margin-top: 1vmin;
    margin-left: auto;
    margin-right: auto;
}

#pieceContainer{
    position: relative;
    display: block;
    top: -96vmin;
    width: 100%;
    min-height: 100%;
    background-color: aqua;
}

#board {
    display: table;
    width: 90vmin;
    height: 90vmin;
}

.row {
    display: table-row;
}

.slot {
    display: table-cell;
    min-height: 20vmin;
    min-width: 20vmin;
    height: 20vmin;
    width: 20vmin;
    border: .5vmin solid #666666;
    background-color: #FF874C;
    border-radius: 2vmin;
    box-shadow: inset 0 0 3px #000;
    padding: 2vmin;
}

.piece {
    /*display: block;*/
    position: absolute;
    
    text-align: center;
    background-color: #FF5300;
    width: 20vmin;
    height: 20vmin;
    /*padding-top: 3px;*/
    /*line-height: 20vmin;*/
    border-radius: 1.5vmin;
    font-size: 10vmin;
    
    transition: all 2.5s ease-in-out;
}

.pieceDebug {
    text-align: center;
    background-color: #FF5300;
    width: 100%;
    height: 100%;
    padding-top: 3px;
    /*line-height: 20vmin;*/
    border-radius: 1.5vmin;
    font-size: 10vmin;
}

.piece b{
    vertical-align:middle;
}

.newPieceAnim {
    animation: grow 0.5s;
}

@keyframes grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.col0 {left: 2.4vmin;}
.col1 {left: 27.2vmin;}
.col2 {left: 52.2vmin;}
.col3 {left: 77vmin;}

.row0 {top: 0.2vmin;}
.row1 {top: 24.7vmin;}
.row2 {top: 49vmin;}
.row3 {top: 73.7vmin;}



/*.moveLeft{
    animation: col0 3s;
}

@keyframes col0{
    0%{left: 220%}
    100%{left: 0px}
}*/

#btnReset {
    margin-top: 2vmin;
}