body {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;

    --animDurationGameOver: 3s;
    --animDurationNewPiece: 0.5s;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

header{
    font-size: 4vmin;
    color: aqua;
    background-color: #FF874C;
}

#top{
    display: flex;
    margin: 0 20%;
}

#top button{
    margin: 5px;
    white-space: nowrap;
    height: fit-content;
    padding: 10px;
}

#first{
    margin-left: 40%;
    margin-right: 20px;
}



#top span p
{
    text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

#top span p:first-child{
    font-size: 3vmin;
}

#top span p{
    /*margin: 0% 50%;*/
    text-align: center;
}

#tableContainer{
    margin: 40px auto 40px auto;
    perspective: 200px;
    transition: perspective-origin 2s;
}

table{
    margin: auto;
    position: relative;
    top:0px;
    left:0px;
	border-collapse: collapse;
    transition: all var(--animDurationGameOver);
    transition-delay: calc( var(--animDurationNewPiece)  + .5s);
}

.slot {
    /*border: .3vmin solid #666666;*/
    background-color: hsla(20, 100%, 65%, 0.5);
    
    border-radius: 2vmin;
    box-shadow: inset 0 0 10px #000;
    width: 19vmin; 
    height: 19vmin;
    margin-right: -2px;
    margin-bottom: -2px;
}

.piece {
    position: relative;
    left: 0vmin;
    top:0vmin;
    margin: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10%;
    font-size: 8vmin;
    line-height: 12vmin;
    text-align: center;
    
    transition: transform ease-in-out;

    transition-duration: 1s;
}

.animMerge {
    animation: merge 0.5s;
}

@keyframes merge {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }
}

.moving{
    background-color: blueviolet;
}

.piece b{
    vertical-align:middle;
}

.newPieceAnim {
    animation: grow var(--animDurationNewPiece);
}

@keyframes grow {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


#btnReset{
    cursor: pointer;
}

.blurred{
    filter:blur(5px);
}

.scaleDiv{
    position: absolute;
    overflow: hidden;
}

.overlay{
    text-align: center;
    font-size: 6vmin;
    font-weight: 700;
    width: 50%;
    margin: auto;

    opacity: 0;
    transition: transform, opacity;
    transition-duration: var(--animDurationGameOver); 
    transition-delay: calc( var(--animDurationNewPiece)  + .5s);
}

#gameOver{
    display: none;
    position: absolute;
}

#tutorial{
    position: relative;
    width: 60%;
    transition-delay: 0s;
}

.big{
    transform: scale(1.8)
}

.visible{
    opacity: 1;
}

button {
    background-color: rgba(255,135,76, .4);
    border: none;
    padding: 3%;
    text-align: center;
    font-size: 3vmin;
    cursor: pointer;
    border-radius:10px;
    transition: all 0.2s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); 
              
 }

button:hover{
    background-color: rgba(232, 68, 42, .6);
}

button:active
{
    background-color: rgba(107, 32, 19, .6);
}

button:disabled
{
    background-color: rgba(107, 32, 19, .6);
}

.markedForMerge {background-color: aqua;}

#infoAndDebug{
    display: flex;
    justify-content: space-between;
    width: 80vmin;
    margin: 2em auto 0 auto;
}

.switchDiv{
    display: inline;
    top:0px;
    float: right;
}

/* checkbox */
.switch {
  position: relative;
  display: inline-block;
  width: 8vmin;
  height: 4vmin;
}

.switchDiv > span{
    vertical-align:20%; 
    font-size: 3vmin;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 70%;
  width: 35%;
  left: 1.2vmin;
  bottom: 0.5vmin;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /*background-color: #2196F3;*/
    background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(3vmin);
}

/* BG */
.slider.round {
  border-radius: 3vmin;
}
/* slider */
.slider.round:before {
  border-radius: 50%;
}